/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
nav {
    background-color: #333;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('your-image.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-size: 3rem;
    margin: 0;
}
.hero p {
    font-size: 1.2rem;
}

/* Projects Section */
#projects {
    padding: 50px;
    background-color: #f4f4f4;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-item {
    width: 45%;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-item h3 {
    margin-top: 0;
}

/* Skills Section */
#skills {
    padding: 50px;
    background-color: #fff;
}
.skills-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

/* Contact Section */
#contact {
    padding: 50px;
    background-color: #f4f4f4;
}
#contact p {
    font-size: 1.2rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .project-item {
        width: 100%;
    }

    .hero h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
    }
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
